<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Formstorm</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <ul>
      <%= if is_logged_in(@conn) do %>
        <li> Signed in as <%= current_user(@conn).email %> </li>
        <li> <%= link("Logout", to: "/logout", method: "DELETE" )  %> </li>
      <%= else %>
        <li> <%= link("Login", to: "/login") %> </li>
        <li> <%= link("Register", to: "/register") %> </li>
      <%= end %>

    </ul>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
