<h2>Listing forms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Key</th>
      <th>Domain</th>
      <th>Name</th>
      <th>Description</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for form <- @forms do %>
    <tr>
      <td><%= form.key %></td>
      <td><%= form.domain %></td>
      <td><%= link form.name, to: form_path(@conn, :show, form.id) %></td>
      <td><%= form.description %></td>

      <td class="text-right">
        <%= link "Show", to: form_path(@conn, :show, form.id), class: "btn btn-default btn-xs" %>
        <%= link "Edit", to: form_path(@conn, :edit, form.id), class: "btn btn-default btn-xs" %>
        <%= link "Delete", to: form_path(@conn, :delete, form.id), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<%= link "New form", to: form_path(@conn, :new) %>
