<h2>Show form</h2>

<ul>

  <li>
    <strong>Your unique key:</strong>
    <%= @form.key %>
    <br>
    <p> &lt; form action="http://your-endpoint.com/<%=@form.key%> method="post" &gt; </p>
  </li>

  <li>
    <strong>Domain:</strong>
    <%= @form.domain %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @form.name %>
  </li>

  <li>
    <strong>Description:</strong>
    <%= @form.description %>
  </li>

  <li>
    <strong>Responses:</strong>
    <%= for response <- @responses do %>
      <br>
      <hr>
      <%= response.id %>
      <br>
      <strong>Fields:</strong>
      <%= for field <- response.fields do %>
        <br>
        <name>    <%= elem(field, 0) %> </name>
        <content> <%= elem(field, 1) %> </content>
      <% end %>
      <br>
      <strong>Spamminess:</strong>
      <%= response.spamminess %>
      <br>
      <strong>Metadata:</strong>
      <%= inspect(response.meta) %>
    <% end %>
  </li>

</ul>

<%= link "Edit", to: form_path(@conn, :edit, @form.id) %>
<%= link "Back", to: form_path(@conn, :index) %>
