<h1> non-localhost </h1>
<form method="post" action="http://localhost:4000/NDG5TTV">
  <input type="text" name="field-one">
  <input type="text" name="field-two">
  <input type="submit">
</form>

<h1> localhost </h1>
<form method="post" action="http://localhost:4000/NY0ATYF">
  <input type="text" name="field-one">
  <input type="text" name="field-two">
  <input type="submit">
</form>
